<div clas="row">
  <div class="col-sm-3">
    <div class="bio-section">
      <div class="panel panel-default">
        <div class="panel-body">
          <i class="fa fa-compass fa-3x" id="logo" aria-hidden="true"></i>
          <h3 class="about-logo">Assembly Point</h3>
          <br />
          <h3>Creator</h3>
          <hr class="spotlight-hr" />
          <h4>Colin Recko</h4>
          <h4><a href="https://github.com/reckocp/final_project_cpr">Github</a></h4>
          <h4><a href="www.linkedin.com/in/reckocp">Linkedin</a></h4>
          <h3>Technologies</h3>
          <hr class="spotlight-hr" />
          <h4>Ruby on Rails</h4>
          <h4>React</h4>
          <h4>Google Civic Information API</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="panel panel-default" id="panel-height">
      <div class="panel-body">
        <h4 class="about-headers">About</h4>
        <hr class="about-h4"/>
        <p>Assembly Point is an online application where communities can come together to share information in hopes of increasing awareness of and participation in local politics and events. The power of community can only be harnessed when all people are informed, and Assembly Point will serve as a springboard to unleash that energy.</p>
        <h4 class="about-headers">Process</h4>
        <hr class="about-h4"/>
        <p>This application was constructed over a 2 week process. I was inspired the create an application to serve the needs of people new to a community, like myself, as well as long-time residents who do not participate in their local politics.</p>
        <h4 class="about-headers">Future</h4>
        <hr class="about-h4"/>
        <p>In the future, I would like to add more functionality to Assembly Point. I hope to incorporate a voting system for posts and comments, as well as incorpoate other databases, such as the Sunlight Congress API, to add more information about officials and their political positions.</p>
      </div>
    </div>
  </div>
</div>
