<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="initial-page">
  <div class="container">
      <div class="row" id="bottom-row">
        <div class="col-sm-12">
          <div>
              <h3><strong>Enter your address below to learn how Assembly Points connects you to all three!</strong></h3>
              <form class="search-container" action="/politicians">
                <input id="search-box" type="text" class="search-box" name="address" />
                <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                <input type="submit" id="search-submit" />
              </form>
          </div>
        </div>
      </div>
      <hr />
      <div class="row" id="middle-row">
        <div class="col-md-4" id="new-user-panel-1">
          <div class='column-header'>
            <h4>Community</h4>
            <hr class="welcome-hr" />
          </div>
          <p><i>noun</i> | com·mu·ni·ty | \kə-ˈmyü-nə-tē\</p>
          <p>a group of people who live in the same area (such as a city, town, or neighborhood)</p>
          <%= image_tag('community.jpg', size: '200', class: "splash-icon") %>
        </div>
        <div class="col-md-4" id="new-user-panel-2">
          <div class='column-header'>
            <h4>Knowledge</h4>
            <hr class="welcome-hr" />
          </div>
          <p><i>noun</i> | knowl·edge | \ˈnä-lij\</p>
          <p>information, understanding, or skill that you get from experience or education</p>

          <%= image_tag('knowledge.png', size: '200', class: "splash-icon") %>
        </div>
        <div class="col-md-4" id="new-user-panel-3">
          <div class='column-header'>
            <h4>Participation</h4>
            <hr class="welcome-hr" />
          </div>
          <p><i>noun</i> | par·tic·i·pa·tion | \(ˌ)pär-ˌti-sə-ˈpā-shən, pər-\</p>
          <p>he state of being related to a larger whole</p>
          <br />
          <%= image_tag('participation.jpg', size: '200', class: "splash-icon") %>
        </div>
      </div>

  </div>
<div>
