<h1>Dashboard</h1>
<div class="row">
    <div class="small-12 columns">
        <h3>Find out who's representing you</h3>
        <form action='/politicians'>
          <label>Address</label>
          <input type="text" name="address" placeholder="e.g.: 1801 Rio Grande St Austin TX " required />
          <input type="submit" class="button tiny round" value="Find" />
        </form>
    </div>
</div>
