<div class="initial-page">
  <div class="container">
      <div>
          <h3>Find out who's representing you</h3>
          <form action='/politicians'>
            <label>Address</label>
            <input type="text" name="address" placeholder="e.g.: 1801 Rio Grande St Austin TX " required />
            <input type="submit" class="button tiny round" value="Find" />
          </form>
          </br>
          </br>
          <div class="map-div">
            <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:250px;width:250px;'><div id='gmap_canvas' style='height:250px;width:250px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://www.autohuren.world/locaties/amsterdam/">auto huren amsterdam</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(30.267153,-97.74306079999997),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(30.267153,-97.74306079999997)});infowindow = new google.maps.InfoWindow({content:'<strong>Title</strong><br>Austin, TX<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
          </div>
      </div>
  </div>
<div>
