
<div class="">
 <h3>Inbox</h3>
 <div class="ist">
  <div class="item">
    <% if @conversations.empty? %>
      <p>You have no conversations</p>
    <% end %>
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id ||  conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <h4><%= link_to recipient.username, conversation_messages_path(conversation)%></h4>
      <% end %>
    <% end %>
  </div>
 </div>
</div>
<hr />
<%= react_component('UserSearch', users: @users) %>
