<div class="new_post_page">
    <h1> Create a new post!</h1>
  <form action="/posts" method="POST">
      <p>Link <input type="text" name="title" id="title"/></p>
      <p>Description<input type="text" name="body" id="body"/></p>
      <p><input type="submit" name="commit" id="submit"/></p>
  </form>
</div>
