/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 body {
   padding-top: 20px;
   padding-bottom: 20px;
   height: 100%;
 }

 .header-fill {
   height: 10px;
   background-color: green;
 }
 nav.navbar-default {
   margin-bottom: 20px;
   font-family: 'Bitter', serif;
   background-color: #3CC47C;
   color: white;
   padding: 1em 0 1em 0;
  div > div ul li:hover {
    text-decoration: underline;
    color: #1E392A;

  }
}
.navbar-header{
  position: relative;
  a.navbar-brand {
    color: white;
  }
}
ul.nav.navbar-nav > li > a.nav-link {
  color: white;
}
ul.nav.navbar-nav > li.nav-dropdown > a.dropdown-toggle {
  color: white;
}

#top-row {
  font-family: 'Bitter', serif;
  text-align: center;
}
#middle-row {
  min-height: 30em;
  text-align: center;
}
#bottom-row {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1em;
}
.address-input {
  font-family: FontAwesome;
  padding: 1em 0 1em 0;
  border-radius: 1em;
  text-align: left;
  width: 100%;
}
 hr {
   border: 0;
   height: 0.18em;
   background: #1E392A;
   background-image: #1E392A;
 }
  .welcome-hr {
    border: 0;
    height: 0.1em;
    background: #E9C893;
    background-image: #1E392A;
  }
 .bulk {
   font-family: 'Raleway', sans-serif;
   margin-bottom: 2em;
 }




// Search bar //
$tl: 0.6s;


body {
  // margin: 5%;
}

.search-box {
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: 40px;height: 40px;
  border-radius: 20px;border: none;
  cursor: pointer;
  background: rgb(235, 235, 235);
  & + label .search-icon {    color: black    }
  &:hover {
    color: white;
    background: rgb(200, 200, 200);
    box-shadow: 0 0 0 5px rgb(61, 71, 82);
    & + label .search-icon {    color: white    }
  }
  &:focus {
    transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
    border: none;outline: none;
    box-shadow: none;
    padding-left: 13px;
    cursor: text;
    width: 98%;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: black;
    & + label .search-icon {    color: black;    }
  }
  &:not(:focus) {    text-indent:-5000px;    } // for more-graceful falling back (:not browsers likely support indent)
}

#search-submit {
  position: relative;left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}
// end search bar //
#new-user-panel-1 {
  height: 25em;
  padding: 2em;
  // border: 0.1em solid black;
}
#new-user-panel-2 {
  height: 25em;
  padding: 2em;
  // border-top: 0.1em solid black;
  // border-bottom: 0.1em solid black;
}
#new-user-panel-3 {
  height: 25em;
  padding: 2em;
  // border: 0.1em solid black;
}

.politician-office {
  p {
    margin-bottom: 0;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.column-header {
  h4 {
    font-weight: 800;
    font-size: 20px;
  }
  hr {
    margin-top: 5px;
  }
}

.post-feed {
  h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .posts-inline {
    margin-bottom: 20px;
  }
}
.individual-lines{
  margin-bottom: 0;
}
.modal-title {
  text-align: center;
}
.modal-body{
  text-align: center;
  margin: auto;
  .imageContainer {
    width: 15em;
    border: black 1px;
  }
  .imageContainer img {
     max-height: 100%;
     max-width: 100%;
   }
}

#admin-buttons {
  background-color: #1E392A;
  font-family: 'Bitter', serif;
  color: white;
  border-radius: 20px;
}
#admin-buttons:hover{
  opacity: 0.75;
}
.posted-by {
  text-align: right;
}
.event-header {
  text-align: center;
  font-weight: bold;
}
.event-body {
  margin-left: 4em;
}
.message-button {
  color: white;
}
.message-button:hover {
  color: white;
  text-decoration: none;
}
.view_post_link {
  text-align: right;
}
.spotlight-title {
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.input-field input[type="text"]:focus,
.input-field input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  border-color: black;
}
.modal-text {
  font-family: 'Raleway', sans-serif;
}
#modal-text {
  font-family: 'Raleway', sans-serif;
}
.modal-header-text {
  font-family: 'Bitter', serif;
}
#modal-header-text {
  font-family: 'Bitter', serif;
}
.logo-font {
  // display: inline-block;
}
.splash-icon {
  border: 0.2em solid black;
  border-radius: 100px;
}
.nav-dropdown-padding {
  text-align: center;
}
@mixin linear($float:left) {
   display: inline-block;
   position: relative;
   float: $float;
}
.logo-text {
  @include linear;
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 22px;
  margin-left: 1.2em;
}

i {
  @include linear;
  float: left;

}

.spotlight-hr {
  border: 0;
  height: 0.1em;
  background: #E9C893;
  background-image: #1E392A;
  margin-top: 0;
  width: 80%;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
  // border-radius: 15px;
}
.tab {
  margin-left: 40px;
}

#nav-toggle-button {
  background-color: white;
}
.padding-modal {
  padding-top: 1em;
}
.posts-links {
  margin-top: -8px;
}
.posts-links-two {
  margin-bottom: 18px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #3CC47C;
}

#message-buttons {
  background-color: #1E392A;
  font-family: 'Bitter', serif;
  color: white;
  border-radius: 20px;
  margin-right: auto;
}
#message-buttons:hover{
  opacity: 0.75;
}

.current_user_message {
  text-align: right;

  .username {
    font-size: 1.25em;
  }
}
.user-username {
  font-size: 1.25em;
}

footer {
  background-color: #3CC47C;
}
.footer {
  font-family: 'Bitter', serif;
  color: white;
  margin-top: 5em;
  background-color: #3CC47C;
  border-radius: 1px;
  display: block;
  bottom: 0;
  position: absolute;
}
.footer-padding {
  color: white;
  text-decoration: none;
  margin-top: 1em;
}
.footer-link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: 'Bitter', serif;
}
.footer-link:hover {
  text-decoration: underline;
  color: #1E392A;
}
.bio-section {
  text-align: center;
}
.about-logo {
  font-family: 'Bitter', serif;
}
#panel-height {
  padding-top: 1em;
  padding-bottom: 3.5em;
}
.about-headers {
  margin-top: 2em;
  font-weight: bolder;
}
.about-h4 {
  margin-top: -4px;
  margin-bottom: 7px;
}
#compass-logo {
  position: absolute;
  top: 7px;
}
.sm-icons .fa {
  display: inline-block;
  vertical-align: middle;
}
