/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 body {
   padding-top: 20px;
   padding-bottom: 20px;
 }

 .header-fill {
   height: 10px;
   background-color: green;
 }
 nav.navbar-default {
   margin-bottom: 20px;
   font-family: 'Bitter', serif;
   background-color: #3CC47C;
   color: white;
  div > div ul li:hover {
    text-decoration: underline;
    text-decoration-color: #1E392A;
    
  }
}
 hr {
   border: 0;
   height: 0.18em;
   background: #1E392A;
   background-image: #1E392A;
 }
  .welcome-hr {
    border: 0;
    height: 0.1em;
    background: #E9C893;
    background-image: #1E392A;
  }
 .bulk {
   font-family: 'Raleway', sans-serif;
 }
 .imageContainer {
   width: 18em;
   border: black 1px;
 }
 .imageContainer img {
  max-height: 100%;
  max-width: 100%;
  }
.initial-page{
  text-align: center;
}
